body {
   background-color: #f8f9fa !important;
   font-family: 'Josefin Sans';
   box-sizing: border-box !important;
   min-height: 100vh;
}

a {
   text-decoration: none;
   color: inherit;
   transition: 300ms;
   border-bottom: 3px solid transparent;
}

a:hover {
   color: #D13C3C;
   border-bottom: 3px solid #D13C3C;
}

.navbar-brand {
   font-family: 'Pacifico';
   font-size: 30px;
}

.navbar-nav > *{
   margin-left: 40px;
}

@media only screen and (min-width: 1px) and (max-width: 769px) {
   .navbar-nav > * {
      margin-left: inherit;
   }
}

.navbar .dropdown-menu-right {
   right: 0;
   left: auto;
}

.nav-item {
   font-family: 'Josefin Sans';
   font-size: 18px;
   color: black !important;
}

.section-heading {
   font-family: 'Pacifico';
   margin-bottom: 20px;
   font-size: 50px;
   color: #D13C3C;
}

#about {
   margin-top: 50px;
   border: 15px solid #D13C3C;
}

#about .banner {
   width: 100%;
}

#about .content {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

#about .content p {
   line-height: 30px;
   letter-spacing: 0.05em;
}

#locations {
   margin-top: 100px;
}

#locations .loc {
   font-size: 24px;
   font-weight: 700;
   margin-bottom: 30px;
   display: inline-block;
}

#locations .addresses {
   font-size: 20px;
   margin-top: 100px;
}

#footer {
   background-color: #D13C3C;
   margin-top: 100px;
   text-align: center;
}

#footer .soc-links {
   padding-top: 30px;
}

#footer .soc-links * {
   margin-left: 15px;
   margin-right: 15px;
   font-size: 30px;
   color: white;
}

#footer .copy {
   color: white;
   letter-spacing: 0.15em;
   font-size: 16px;
   margin-left: 10px;
   padding-bottom: 20px;
   padding-top: 15px;
}

#masonry {
   display: flex;
   flex: 50%;
   flex-wrap: wrap;
}

#masonry * {
   width: 49%;
   height: 500px;
   margin-bottom: 10px;
   object-fit: cover;
}

#masonry *:nth-child(2n) {
   margin-left: 10px;
}

@media only screen and (min-width: 1px) and (max-width: 426px) {
   #masonry * {
      width: 100%;
      height: 300px;
   }

   #masonry *:nth-child(2n) {
      margin-left: 0;
   }
}

.toc {
   margin-top: 50px;
}

.toc h4 {
   font-size: 16px;
   color: #D13C3C;
   text-transform: uppercase;
   font-weight: 700;
}

.toc ul {
   list-style: none;
   padding: 0;
}

.toc a {
   margin: 0;
   display: block;
   cursor: pointer;
}

.toc-categories {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.menu-group h2 {
   font-family: 'Pacifico';
   margin-bottom: 50px;
   margin-top: 50px;
   color: #D13C3C;
}

.item {
   margin-bottom: 30px;
}

.item-overview {
   padding-left: 3px;
   padding-right: 3px;
   padding-bottom: 10px;
   display: flex;
   justify-content: space-between;
   border-bottom: 3px solid #D13C3C;
   font-weight: bold;
}

.item-desc {
   display: inline-block;
   margin-top: 10px;
   padding-left: 3px;
   padding-right: 3px;
}

#contact-form .prompt {
   font-family: 'Pacifico';
   font-size: 45px;
   text-align: center;
}

textarea {
   resize: none;
}

.btn {
   background-color: #D13C3C;
}

#location-info .section-heading {
   border-bottom: 5px solid #D13C3C;
   padding-bottom: 50px;
   margin-bottom: 50px;
}

@media only screen and (max-width: 326px) {
   #location-info .section-heading {
      font-size: 40px;
   }
}

#location-info .order {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

#location-info .order * {
   margin-bottom: 20px;
}
